@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

.landing-contact-us {
  position: relative;
  text-transform: uppercase;
  // @include mobile {
  //   min-height: 414px;
  // }

  .footer-image {
    width: 100vw;
    max-height: 490px;
    object-fit: cover;

    // @include mobile {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   height: 100%;
    // }
  }
  .landing-contact-us-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .title {
      color: #fff;
      margin-bottom: 40px;
      font-size: 36px;
      font-weight: 600;
      line-height: 55px;
      text-transform: capitalize;

      @include mobile {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: #ffffff;
      }
    }
    .btn {
      // text-transform: capitalize;
      // font-weight: 600;
      // background: #2aa0f5;
      // border-color: #2aa0f5;
      // padding: 5px 20px;

      @include mobile {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #ffffff;
        border: none;
      }
    }
  }
}
