.colors-bar {
  .product-color {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    @media (max-width: 375px) {
      margin-right: 3px;
    }
  }
  @media (min-width: 576px) {
    .product-color {
      width: 25px;
      height: 25px;
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }
  @media (max-width: 576px) {
    width: 100%;
  }
}
