.Modal.quote-cart {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 900px;
  width: 100%;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  outline: none;
  padding: 20px;
  font-family: 'worksans';
  .header {
    padding: 20px;
    justify-content: space-between;
    .title {
      font-weight: 600;
    }
  }
  .section {
    padding: 0;
  }
  .main-cart {
    padding: 20px;
    padding-top: 0px;
    .product-row {
      justify-content: space-between;
      .product-image {
        height: 104px;
        width: 104px;
        left: 0px;
        top: 0px;
        border-radius: 0px;
      }
      .product-info {
        flex-direction: column;
        justify-content: space-between;
        width: 170px;
        .product-name {
          max-width: 157px;
          margin-bottom: 10px;
          color: #2d2d2d;
          a {
            color: #2d2d2d;
          }
          &:hover {
            color: #000;
          }
        }
        .product-quantity {
          // margin-left: 8px;
          align-items: center;
          border: 1px solid #d9d9d9;
          justify-content: space-between;
          width: 102px;
          button {
            font-size: 1rem;
            border: none;
            padding: 10px;
            svg {
              fill: #8c8c8c;
            }
          }
        }
      }
      .trash-icon svg {
        fill: #8c8c8c;
        cursor: pointer;
      }
    }
  }
  .popup-quote {
    // text-align: center;
    padding: 15px;
    .title {
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      text-transform: capitalize;

      /* #2D2D2D */

      color: #2d2d2d;
    }
    .note {
      margin-bottom: 30px;
      display: inline-block;
      margin-top: 20px;
    }
  }
  @media (max-width: 576px) {
    .small {
      font-size: 70%;
    }
    padding: 10px;
    .align-cart {
      flex-direction: column-reverse;
      .title {
        text-align: center;
      }
    }
    .product-name {
      padding-left: 10px;
    }
    .product-des {
      padding-left: 10px;
    }
    .product-quantity {
      margin-left: 8px;
    }
    .btn-submit {
      flex-direction: column-reverse;
      align-items: initial;
    }
    .view-more {
      margin: 0.5rem 0 2rem;
      padding: 0;
      .btn-container {
        padding: 0;
      }
    }
    .popup-quote {
      text-align: center;
    }
  }
}
