.project-detail-banner {
  @media (min-width: 768px) {
    color: #ffff;
    .bg-img {
      &:after {
        content: "\A";
        position: absolute;
        width: 100%;
        height: 100%;
        // max-height: 0px;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0.8;
      }
    }
  }
  .meet-client {
    .client-link {
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
      text-align: left;
      margin-top: 16px;
    }
    .arrow {
      margin-top: 15px;
      margin-left: 10px;
      svg path {
        stroke: #ffffff;
      }
    }
  }
}
