.search-modal {
  background-color: #ffff;
  height: 84vh;
  margin: 8vh 100px;
  bottom: 90px;
  width: 90vw;
  .search-modal-content {
    height: 84vh;
    position: relative;
    .search-form {
      margin: 0 20px;
      input {
        width: 100%;
        display: inline-block;
        padding: 10px;
        padding-left: 20px;
        font-size: 18px;
        margin-top: 60px;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        &:focus-visible {
          outline: none;
        }
      }
      .btn-submit {
        display: none;
      }
    }
    .search-result {
      height: 79%;
      overflow: auto;
      padding: 50px 20px 30px;
      .result-product-container {
        position: relative;
        .result-product {
          display: flex;
          margin-bottom: 10px;
          padding-bottom: 10px;
          color: #141414;
          border-bottom: 1px solid #d9d9d9;
          .product-image {
            margin-right: 10px;
            img {
              height: 80px;
              width: 80px;
              object-fit: cover;
            }
          }
          .product-info {
            .product-name {
              font-size: 16px;
              margin-bottom: 0px;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .body-text {
              font-size: 14px;
              overflow: hidden;
              text-overflow: ellipsis;
              height: 25px;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .view-product {
              padding-top: 3px;
              padding-bottom: 3px;
              width: 120px;
            }
          }
        }
        .add-to-cart-btn {
          position: absolute;
          bottom: 10px;
          left: 90px;
          padding-top: 3px;
          padding-bottom: 3px;
          width: 120px;
        }
      }
    }
    .search-all-container {
      &.active {
        border-top: 1px solid #141414;
      }
      &.un-active {
        background-color: #f8f8f8;
        height: 40px;
      }
      button {
        color: blue;
      }
    }
  }
  @media (max-width: 576px) {
    margin: 8vh 16px;
  }
}
