.project-filter {
  .project-filter-form {
    .industry-option,
    select {
      text-transform: capitalize;
      padding: 3px;
      border-radius: 5px;
      background-color: #fff;
    }
    .project-filter {
      margin-top: 30px;
      margin-bottom: 40px;
      font-family: 'worksans';
      font-size: 18px;
      span {
        margin-right: 20px;
        margin-left: 20px;
      }
    }
    .btn-filter-project {
      margin-top: 10px;
      margin-bottom: 50px;
      width: 100%;
    }
  }
  @media (max-width: 768px) {
    .project-filter-form {
      flex-direction: column;
      width: 100%;
    }
    .my-select {
      width: 100%;
    }
    .select-item {
      flex-direction: column;
      width: 100%;
    }
  }
  @media (min-width: 768px) {
    .project-filter-form {
      flex-direction: row;
      width: auto;
      margin-bottom: 50px;
      .select-item {
        padding: 7px;
        flex-direction: row;
        width: auto;
        align-items: center;
        margin: 0 10px;
        .form-select {
          margin-left: 5px;
        }
        &:focus-visible {
          outline: none;
        }
      }
      .btn-filter-project {
        margin-left: 30px;
        margin-top: -10px;
        margin-bottom: 0px;
        width: auto;
      }
    }
  }
}
