@import "../blog-details/wordpress-styles.scss";
@import "../blog-details/styles.scss";

.other-page-container.editor-styles-wrapper {
  background-color: #ffff;
  padding: 0;
  .banner-other-page {
    position: relative;
    h1.other-page-title {
      position: absolute;
      top: 50%;
      color: #ffff;
    }
    img {
      max-height: 350px;
      width: auto;
      height: auto;
      -o-object-fit: fill;
      object-fit: fill;
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
    }
  }
  @media (max-width: 768px) {
    .banner-other-page {
      h1.other-page-title {
        top: 0%;
      }
    }
    .other-pages-content {
      table {
        width: 280pt !important;
        font-size: 14px;
      }
    }
  }
}
