@import '../../../fonts/fonts.css';
@import '../../../sass/0-settings/colors';

.header-wrapper {
	background-color: $white;
	position: relative;
	button {
		border: none !important;
	}

	.header__bottom {
		border-bottom: 1px solid $color__light-grey;
		.logo-col {
			padding-left: 15px;
			flex-grow: 1;
		}
		.logo {
			max-width: 170px;
			padding-top: 16px;
			padding-bottom: 18px;
		}

		.nav-icons {
			width: 16%;
			.sidebar-menu-icon {
				display: block;
			}
		}

		.list-icon {
			padding-right: 15px;
			.icon-item {
				margin-right: 31px;
				cursor: pointer;
				svg {
					path {
						stroke: #1e1e1e;
						transition: 0.3s;
					}
				}
				&:hover {
					svg {
						path {
							stroke: #2aa0f5;
						}
					}
				}
			}
			.icon-item:last-child {
				margin-right: 0px !important;
			}
			@media (max-width: 768px) {
				ul {
					flex-direction: row-reverse;
					.icon-item {
						margin-right: 0;
						&:last-child {
							margin-right: 40px !important;
						}
					}
				}
			}
		}
	}
	.menu-item:first-child:hover {
		.mega-menu {
			opacity: 1;
			visibility: visible;
			-webkit-transition: opacity 0.3s, visible 0.3s;
			transition: opacity 0.3s, visible 0.3s;
			-webkit-transition-delay: 0.3s;
			transition-delay: 0.3s;
			border-top: 1px solid #e8e8e8;
		}
	}
	.mega-menu {
		padding: 0;
		opacity: 0;
		margin-top: 12px;
		position: absolute;
		visibility: hidden;
		z-index: 3;
		background: #ffff;
		width: 100vw;
		left: 0;
		background: #ffffff;
		box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
		transition: ease-out;
		padding: 30px 0;
		overflow: hidden;
	}
	.item {
		a {
			color: #2d2d2d;
		}
	}

	@media (min-width: 768px) {
		.header__bottom {
			.logo-col {
				padding: 0;
				width: 26%;
			}
			.nav-icons {
				width: 16%;
				.sidebar-menu-icon {
					display: none;
				}
			}
		}
	}
}
